# Dependencies
node_modules/

# Build output
dist/

# Astro
.astro/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# Env
.env
.env.*
!.env.example

# Cloudflare Wrangler
.wrangler/

